<Master>

  <div class="banner">
    <div class="title">Selene</div>
  </div>

  <h1>Selene is a modular framework</h1>
  <p>Modules and Packages are at the heart of Selene's philosophy.</p>

  <div class="text">
    <p>This page (with its stylehsheet and base template) comes from a private module installed on the <code>private/modules/example-module</code>
       folder.</p>
    <p>The source code provides you with a minimal module implementation, to get you started.</p>
  </div>

  <br> <a href="">←&nbsp; GO BACK!</a>

</Master>
