<Import services="navigation app"/>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=".">{app.appName}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- A true navigation example, making use of the framework's navigation service -->
        <NavLink link="{navigation.home}"/>
        <NavLink link="{navigation.page1}"/>
        <NavLink link="{navigation.page2}"/>
      </ul>

        <!-- A basic navigation example, suitable for fast prototyping -->
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Basic nav:</p></li>
        <SimpleNavLink href="" label="Home"/>
        <SimpleNavLink href="page1" label="Page 1"/>
        <SimpleNavLink href="page2" label="Page 2"/>
      </ul>
    </div>
  </div>
</nav>
