<Style src="modules/demo-company/demo-project/demo.css"/>

<Content of="main">

  <Include view="includes/page-header.html"/>

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <!-- The #jumbotron block's content becomes the Jumbotron macro's content -->
        <Jumbotron title="Minimal Website Demo">
          {#jumbotron|*}
        </Jumbotron>
        <!-- The main page content goes here -->
        <div class="row">
          {#mainContent|*}
        </div>
      </div>

      <Include view="includes/sidebar.html"/>
    </div>

    <hr>
    <!-- A footer with default content -->
    <footer>
      {#footer|*}
    </footer>

  </div>
</Content>

<Content of="footer" byDefault>
  <p>&copy; 2015 Company, Inc.</p>
</Content>

<Content appendTo="scripts">
  <script>
    $ (document).ready (function () {
      $ ('[data-toggle="offcanvas"]').click (function () {
        $ ('.row-offcanvas').toggleClass ('active')
      });
    });
  </script>
</Content>

<Include view="layouts/main.html"/>
