<Template name="Main" defaultParam="content">
  <Param name="content" type="source"/>

  <Style src="modules/modules-manager/main.css"/>
  <Script src="//code.jquery.com/jquery-latest.min.js"/>

  <Head>
    <link href='//fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  </Head>

  <div class="banner-small">
    <a href=""><img src="modules/modules-manager/logosmall.png"></a>
    <div class="title">Modules Manager</div>
  </div>

  <div class="container">
    {{ @content }}
  </div>

</Template>
