<Import service="navigation"/>

<Content of="jumbotron">
  <p>Study this module's source code to better understand the basics of assembling a website using the Matisse template
     engine.</p>
</Content>

<Content of="mainContent">
  <!-- Repeating blocks of content with a macro is easy! -->
  <Widget title="Page 2" link="{navigation.page2.url}"/>
  <Widget title="Title 1">
    <h4>Custom content</h4>
    Hello <b>World</b>
  </Widget>
  <Widget/>
  <Widget/>
  <Widget/>
  <Widget/>
</Content>

<Content of="sidebar">
  <p class="lead">My Sidebar content</p>
</Content>

<Script>
  console.log ("My page-specific script");
</Script>

<Include view="layouts/demo.html"/>
