<Import service="navigation"/>

<Content of="jumbotron">
  <p>Header content alternative</p>
</Content>

<Content of="mainContent">
  <p class="lead">Welcome to the second page.</p>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
     condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
     sed odio dui.</p><br><a href="{navigation.page1}">&lt; Back</a>
</Content>

<Content of="sidebar">
  <p class="lead">Sidebar alternative</p>
  <button class="btn btn-default">Button</button>
</Content>

<Content of="footer">
  <p>Footer alternative</p>
</Content>

<Include view="layouts/demo.html"/>
