body {
  color: #747c80;
  background: #F8F8F8;
  font-weight: 100;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
}

.container a {
  text-decoration: none;
  color: #5971b3;
}

.list li {
  list-style-type: square;
  width: 180px;
  text-align: left;
  margin: 5px auto;
}

code {
  border: 1px solid #b8e6b8;
  background: #EFE;
  padding: 0 5px;
}

.banner {
  background: white;
  padding: 20px 0 50px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 50px;
}

.banner > .title {
  font-size: 128px;
  display: inline-block;
}

.quote {
  font-size: 27px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

.by {
  margin-top: 10px;
  font-size: 16px;
}

.text {
  border: 1px solid #EEE;
  padding: 10px 30px;
  background: #Fcfcfc;
  text-align: left;
  max-width: 600px;
  margin: 30px auto;
}

.intro {
  padding: 0 0 80px 0;
}

a.btn {
  color: #FFF;
  background: #999;
  padding: 10px 20px;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.space {
  padding: 20px 0;
}
